//? ################################## Variables #####################################################
$color-bg: #1c1e29;
$color-bg-variant: #282a36;
$color-primary: #4aee88;
$color-primary-variant: #2b824c;
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);